<div class="flex flex--column content">
    <div class="flex__item flex flex--center test-header">
        <div class="flex__item width-5-of-6">
            <h1 class="text-center">
                {{testItem?.name}}
            </h1>
        </div>
        <div class="flex__item width-1-of-6 text-center">
            <span>Pozostały czas: {{totalTime}}</span>
        </div>
    </div>

    <test-question-switcher 
        class="flex flex__item flex__item--grow"
        *ngIf="testItem" 
        [test]="testItem"
        (onTotalTimeChanged)="onTotalTimeChanged($event)">
    </test-question-switcher>
</div>