.test-header span {
    color: #e3e3e3;
    font-size: 16px;
}

test-question-switcher {
    background-color: #ffffff;
}

.test-question {
    padding: 20px 20px 70px 20px;
    position: relative;
}

    .test-question h3 {
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #d0d0d0;
    }

    .test-question .buttons {
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
    }

    .test-question .buttons button {
        margin-right: 10px;
    }

    .test-question__wrapper {
        overflow: auto;
    }

.test-tools {
    background-color: #6b60d4;
    color: #ffffff;
}

    .test-tools__wrapper {
        padding: 20px;
    }

    .test-tools .question-info {
        padding-bottom: 20px;
        border-bottom: 1px solid #aaa2f8;
    }

    .test-tools .question-time p {
        margin: 10px 0;
    }


@media screen and (max-width: 768px) {
    .test-header, .test-tools, .test-question {
        width: 100%;
    }

    .test-header {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

        .test-header span {
            font-size: 14px;
        }

        .test-header .width-5-of-6 {
            width: 66.66%
        }

        .test-header .width-1-of-6 {
            width: 33.33%;
        }

    .test {
        flex-direction: column;
    }
    
    .test-question {
        padding: 75px 10px 170px 10px;
    }

        .test-question h3 {
            margin: 0 0 10px 0;
        }

        .test-question .buttons {
            bottom: 120px;
        }

    .test-tools {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 110px;
    }

        .test-tools__wrapper {
            padding: 10px;
        }

        .test-question__wrapper h3 {
            font-size: 20px;
            margin-bottom: 10px;
            padding: 0 0 10px 0;
        }

        .test-tools .question-info {
            padding-bottom: 10px;
        }

        .test-tools .question-time p {
            margin: 5px 0;
        }
}