<div class="flex flex--column content">
    <div class="flex__item flex flex--align-center content__header test-header width-1-of-1">
        <div class="flex flex--align-center flex__item width-5-of-6">
            <a class="flex__item icon--link-light-grey p-right-20 p-top-05" routerLink="/welcome">
                <i class="material-icons">arrow_back</i>
            </a>
            <h1 class="flex__item text-left">
                {{testItem?.name}}
            </h1>
        </div>
        <div class="flex__item width-1-of-6 text-center">
            <span>Czas: {{totalTime}}</span>
        </div>
    </div>

    <test-question-switcher 
        class="flex flex__item flex__item--grow"
        *ngIf="testItem" 
        [test]="testItem"
        (onTotalTimeChanged)="onTotalTimeChanged($event)">
    </test-question-switcher>
</div>