<div *ngIf="test">
    <ng-container *ngFor="let question of randomizedQuestions; let i = index">
        <test-question
            *ngIf="i === actualQuestionIterator"
            (onRead)="onQuestionRead($event)"
            (onAnswer)="onQuestionAnsweared($event)"
            [testQuestion]="question"
            [actualQuestionPhase]="actualQuestionPhase"
            [actualReadTime]="actualQuestionReadTime"
            [actualAnswerTime]="actualQuestionAnswerTime">
        </test-question>
    </ng-container>
</div>