ul {
    margin: 30px auto;
    padding: 0;
    max-width: 400px;
    list-style-type: none;
}

ul li {
    margin: 2px;
    padding: 0;
}

ul li a {
    padding: 10px;
    min-width: 200px;
    display: block;
    background-color: #d4f4ff;
}

ul li a:hover {
    background-color: #aee2f3;
}
