ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 10px 0;
    padding: 0;
}

ul li a {
    color: #ffffff;
    padding: 20px;
    display: block;
    background-color: #6b60d4;
    text-decoration: none;
}

ul li a:hover {
    background-color: #948ce7;
}


@media screen and (max-width: 768px) {
    ul li a {
        padding: 15px;
    }
}