.flex {
    display: flex;
}

    /* justify content */
    .flex--content-justify-center {
        justify-content: center;
    }

    .flex--content-justify-left {
        justify-content: flex-start;
    }

    .flex--content-justify-right {
        justify-content: flex-end;
    }

    .flex--content-justify-space-between {
        justify-content: space-between;
    }

    .flex--content-justify-space-around {
        justify-content: space-around;
    }

    /* align items */
    .flex--align-center {
        align-items: center;
    }

    .flex--align-top {
        align-items: flex-start;
    }

    .flex--align-bottom {
        align-items: flex-end;
    }

    .flex--align-stretch {
        align-items: stretch;
    }

    /* align content */
    .flex--content-align-center {
        align-content: center;
    }

    .flex--content-align-top {
        align-content: flex-start;
    }

    .flex--content-align-bottom {
        align-content: flex-end;
    }

    .flex--content-align-stretch {
        align-content: stretch;
    }

    .flex--content-align-space-between {
        align-content: space-between;
    }

    .flex--content-align-space-around {
        align-content: space-around;
    }

    /* directions */
    .flex--column {
        flex-direction: column;
    }

    .flex--reversed {
        flex-direction: row-reverse;
    }

    /* content behavior */
    .flex--wrapped {
        flex-wrap: wrap;
    }

    /* items */
    .flex__item {
       flex: 0 1 auto;
    }

        .flex__item--grow {
            flex: 1 1 auto;
        }

        .flex__item-static {
            flex: 0 0 auto;
        }

        .flex__item--expanded {
            flex: 1 1 100%;
        }

.width-1-of-1 {
    width: 100%;
}

.width-1-of-2 {
    width: 50%;
}

.width-1-of-3 {
    width: 33.33%;
}

.width-2-of-3 {
    width: 66.66%;
}

.width-1-of-4 {
    width: 25%;
}

.width-2-of-4 {
    width: 50%;
}

.width-3-of-4 {
    width: 75%;
}

.width-1-of-5 {
    width: 20%;
}

.width-2-of-5 {
    width: 40%;
}

.width-3-of-5 {
    width: 60%;
}

.width-4-of-5 {
    width: 80%;
}

.width-1-of-6 {
    width: 16.66%;
}

.width-2-of-6 {
    width: 33.33%;
}

.width-3-of-6 {
    width: 50%;
}

.width-4-of-6 {
    width: 66.66%;
}

.width-5-of-6 {
    width: 83.33%;
}

.width-1-of-7 {
    width: 14.28%;
}

.width-2-of-7 {
    width: 28.57%;
}

.width-3-of-7 {
    width: 42.85%;
}

.width-4-of-7 {
    width: 54.14%;
}

.width-5-of-7 {
    width: 71.42%;
}

.width-6-of-7 {
    width: 85.71%;
}

.width-1-of-8 {
    width: 12.5%;
}

.width-2-of-8 {
    width: 25%;
}

.width-3-of-8 {
    width: 37.5%;
}

.width-4-of-8 {
    width: 50%;
}

.width-5-of-8 {
    width: 62.5%;
}

.width-6-of-8 {
    width: 75%;
}

.width-7-of-8 {
    width: 87.5%;
}

/* text align */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: lect;
}

/* paddings */
.p-left-05 {
    padding-left: 5px;
}

.p-right-05 {
    padding-right: 5px;
}

.p-top-05 {
    padding-top: 5px;
}

.p-bottom-05 {
    padding-bottom: 5px;
}

.p-left-10 {
    padding-left: 10px;
}

.p-right-10 {
    padding-right: 10px;
}

.p-top-10 {
    padding-top: 10px;
}

.p-bottom-10 {
    padding-bottom: 10px;
}

.p-left-20 {
    padding-left: 20px;
}

.p-right-20 {
    padding-right: 20px;
}

.p-top-20 {
    padding-top: 20px;
}

.p-bottom-20 {
    padding-bottom: 20px;
}

/* font-size */
.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

/* colors */
.color--white {
    color: #ffffff;
}

.color--red {
    color: #bf0000;
}

.color--green {
    color: #4cbf00;
}